# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CLion files
*/cmake-build-debug/*
*.ninja*
*log.*
*.bin
*.json

# NVim
/.backup/

projects/project02_cpe464/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b7e3fab9793e590ca3b4.json
projects/project02_cpe464/cmake-build-debug/.cmake/api/v1/reply/index-2023-05-08T20-17-07-0167.json
projects/project02_cpe464/cmake-build-debug/.ninja_log
projects/project02_cpe464/cmake-build-debug/build.ninja
projects/project02_cpe464/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
projects/project02_cpe464/cmake-build-debug/Testing/Temporary/LastTest.log
projects/project03_cpe464/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e93fabe3d18c58ae6693.json
projects/project03_cpe464/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
projects/project03_cpe464/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
projects/project03_cpe464/cmake-build-debug/CMakeFiles/CMakeOutput.log
projects/project03_cpe464/cmake-build-debug/rcopy
projects/project03_cpe464/cmake-build-debug/server
projects/project02_cpe464/cmake-build-debug/Testing/Temporary/LastTest.log
projects/project03_cpe464/cmake-build-debug/rcopy
projects/project03_cpe464/cmake-build-debug/server
projects/project01_cpe464/.idea/workspace.xml
projects/project01_cpe464/cmake-build-debug/.cmake/api/v1/reply/index-2023-05-24T19-35-25-0086.json
projects/project01_cpe464/cmake-build-debug/.ninja_log
projects/project01_cpe464/cmake-build-debug/Testing/Temporary/LastTest.log
projects/project03_cpe464/cmake-build-debug/CMakeFiles/rules.ninja
projects/project03_cpe464/cmake-build-debug/CMakeFiles/TargetDirectories.txt
